@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pattern backgrounds used by CUOnlineMoodBoard */
.cu-pattern1 {
	background-image: linear-gradient(45deg, #3498db25 25%, transparent 25%),
		linear-gradient(-45deg, #3498db25 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, #3498db25 75%),
		linear-gradient(-45deg, transparent 75%, #3498db25 75%);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
	background-color: #ecf0f1;
}

.cu-pattern3 {
	background-image: repeating-linear-gradient(90deg, #3498db, #3498db 10px, #2ecc71 10px, #2ecc71 20px);
	opacity: 0.2;
	background-color: white;
}

.cu-pattern4 {
	background-image: radial-gradient(circle, #3498db 1px, transparent 1px);
	background-size: 20px 20px;
	background-color: #ecf0f1;
}

